{% extends 'adminTemplate/base.html.twig' %}

{% import 'adminTemplate/macros.html.twig' as macros %}
{% set page_title %}Dynamic Content{% endset %}
{% block breadcrumb %}
    <div class="breadcrumb-line">
        <ul class="breadcrumb">
            <li><a href="{{ path('dashboard') }}"><i class="icon-home2 position-left"></i>Dashboard</a></li>
            <li><a href="{{ path('dynamic_content_index') }}">{{ page_title }}</a></li>
            <li class="active">Edit {{ dynamicContent.title }}</li>
        </ul>
    </div>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-3">
            {{ form_start(edit_form, {'attr':{"data-toggle":"validator",'novalidate':'novalidate'}}) }}
            <div class="panel panel-flat">
                <div class="panel-heading">
                    <h5 class="panel-title">Edit {{ dynamicContent.title }}</h5>
                </div>
                <div class="panel-body">
                    <div class="row">
                        {{ macros.input(edit_form.title,12) }}
                    </div>
                </div>
                <div class="panel-footer">
                    {% include 'adminTemplate/saveAndResetFormFooter.html.twig' %}
                </div>
            </div>
            {{ form_end(edit_form) }}
        </div>
        <div class="col-md-9">
            {{ form_start(attr_form, {'attr': {"data-toggle":"validator",'novalidate':'novalidate'}}) }}
            <div class="panel panel-flat">
                <div class="panel-heading">
                    <h5 class="panel-title">Add new Attribute</h5>
                </div>
                <div class="panel-body">
                    <div class="row">
                        {{ macros.input(attr_form.title, 4) }}
                        {{ macros.input(attr_form.hint, 4) }}
                        {{ macros.input(attr_form.type, 4, null,null, 'form-control select-search') }}
                    </div>
                    <div class="row hidden" id="imageDimensions">
                        <div class="col-md-4">
                            <div class="form-group">
                                {{ form_label(attr_form.imageWidth) }}
                                <div class="input-group">
                                    {{ form_widget(attr_form.imageWidth) }}
                                    <span class="input-group-addon">px</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                {{ form_label(attr_form.imageHeight) }}
                                <div class="input-group">
                                    {{ form_widget(attr_form.imageHeight) }}
                                    <span class="input-group-addon">px</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    {% include 'adminTemplate/saveAndResetFormFooter.html.twig' %}
                </div>
            </div>
            {{ form_end(attr_form) }}
        </div>
    </div>
    {% if dynamicContent.dynamicContentAttributes.count > 0 %}
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-flat">
                    <div class="panel-heading">
                        <h5 class="panel-title">{{ dynamicContent.title }}'s attributes</h5>
                    </div>
                    {{ form_start(eav_form, {'attr':{"data-toggle":"validator",'novalidate':'novalidate'}}) }}
                    <div class="panel-body">
                        <div class="row">
                            {% for attribute in dynamicContentAttributes %}
                                {% if loop.index % 2 %}</div><div class="row">{% endif %}
                                {% include '@PNContent/Administration/DynamicContent/editAttributeContent.html.twig' with {"dynamicContentAttribute": attribute, "form":eav_form} %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="panel-footer">
                        {% include 'adminTemplate/saveAndResetFormFooter.html.twig' %}
                    </div>
                    {{ form_end(eav_form) }}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('admin/js/plugins/forms/selects/select2.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('admin/js/pages/form_select2.js') }}"></script>
    <script type="text/javascript" src="{{ asset('admin/js/plugins/forms/validation/validate.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('admin/js/pages/form_validation.js') }}"></script>
    <script type="text/javascript" src="{{ asset('admin/js/plugins/media/fancybox.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('admin/js/plugins/media/fancybox.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('admin/js/plugins/forms/styling/uniform.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            showImageimageDimensionsInputes();
            $("#pn_bundle_cmsbundle_dynamiccontentattribute_type").change(function () {
                showImageimageDimensionsInputes();
            });
        });
        function showImageimageDimensionsInputes() {
            var selected = $("#pn_bundle_cmsbundle_dynamiccontentattribute_type").find("option:selected");
            console.log(selected);
            if (selected.val() == "{{ constant('\\PN\\ContentBundle\\Entity\\DynamicContentAttribute::TYPE_IMAGE') }}") {
                $("#imageDimensions").removeClass("hidden");
            } else {
                $("#imageDimensions").addClass("hidden");
            }
        }
    </script>
{% endblock javascripts %}